@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
ul{
  border: 1px solid rgb(99, 92, 92);
  margin: 10% 20%;
  background-color: aliceblue;
  border-radius: 20px;
}
li{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-bottom: 2px solid black;
  text-decoration-style:none;
  padding: 10px;
  color:black
}

